################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.meta
/Assets/LeanTween
/Assets/Simple Sprite Packer
/Library
/Logs
/UserSettings
/Temp
/obj
/Packages
